body {
  background-color: #c4b68f;
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 7%;
  bottom: 0;
  width: 100%;
}

#first-para {
  color: red;
}

.container {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  float: right;
}

.contain {
  text-align: center;
}

#symptoms {
  font-weight: bold;
  font-size: 20px;
}

.form {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 15%;
}

.msg {
  color: red;
}

.about {
  margin-top: 7%;
  float: left;
}

#profile-pic {
  height: 150px;
  width: 250px;
}

.state-listing {
  text-align: center;
}

.home-page-name {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}	

li a:hover {
  background-color: #9c4141;
}

.marker {
  background-image: url('black.webp');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
