body {
  background-color: #c4b68f;
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 6.6%;
  bottom: 0;
  width: 100%;
}

#first-para {
  color: red;
}

.container {
  width: 40%;
  margin-left: 25%;
  margin-top: 5%;
  float: right;
  font-style: Verdana;
}

.contain {
  text-align: center;
}

#symptoms {
  font-weight: bold;
  font-size: 20px;
}

.form {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
}

.msg {
  color: red;
}

#profile-pic {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.state-listing {
  text-align: center;
  margin-bottom: 10%;
  font-size: 21px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}	

li a:hover {
  background-color: #9c4141;
}

.marker {
  background-image: url('images/black.webp');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#delete-acct {
  text-align: center;
  margin-top: 5%;
}

#delete-acct-msg {
  text-align: center;
  color: green;
  font-weight: bold;
}

.reviews {
  background-color: #d6d6d2;
}

#review_user {
  font-weight: bold;
}

.find-reviews {
  margin-top: 5%;
}

#review-description {
  font-style: italic;
}

#search-form {
  height: 0;
}

.search {
  margin-top: 1.1%;
  margin-left: 0.5%;
  margin-bottom: 2%;
  width: 300px;
  height: 27px;
}

.search-btn {
  margin-top: 1.1%;
  margin-left: 0.5%;
  height: 27px;
}

#signup-details,
#login-details {
  text-align: center;
  margin-top: 10%;
}

#invalid-acct-msg {
  color: red;
  font-weight: bold;
}

#invalid-pw {
  text-align: center;
  color: red;
}

.user-info {
  margin-top: 3%;
  margin-right: 5%;
  margin-bottom: 6%;
}

#pencil {
  width: 5%;
  height: 4%;
  float: right;
}

#second-para {
  color: red;
  font-weight: 300;
}

.user-banner,
.explain-symptoms {
  height: 200px;
}

.jumbotron:nth-of-type(2) {
  width: 30%;
  margin-left: 15%;
  float: left;
  font-weight: 900;
}

.jumbotron:nth-of-type(3) {
  width: 30%;
  float: right;
  margin-right: 15%;
}

.heading-details {
  color: #508dbf;
  font-size: 22px;
  font-weight: 400;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.about {
  margin-top: 0%;
  padding-top: 1%;
  float: left;
  margin-left: 3%;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  text-align: left;
  padding-left: 3%;
  padding-bottom: 4%;
  width: 45%;
  font-weight: 200;
  color: black;
  font-size: 21px;
}

.test-locations {
  margin-top: 0%;
  padding: 1% 0% 0% 3%;
  float: right;
  margin-right: 3%;
  width: 45%;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  text-align: left;
  font-weight: 200;
  font-size: 21px;
}

.user-details {
  font-size: 20px;
}

.home-page-name {
  text-align: center;
}