{% extends 'base.html' %}
{% block content %}
<div class="form">
    <h1>Edit your review</h1>
    <form method="POST" id='login-form'>
        {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}
        <button class="btn btn-primary btn-block btn-lg">Submit Changes</button>
    </form>
    </div>
</body>
</html>
{% endblock %} 