{% extends 'base.html' %}

{% block content %}
    <div class="login-container">
    <form method="POST" id='login-form'>
        {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}
        <button class="btn btn-primary btn-block btn-lg">Log in</button>
    </form>
    <a href="/login" id="change-form-link">Have an account already?</a>
    <a href="/" id="back-link">Go back</a>
    </div>
{% endblock %}

