<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Covid Testing</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="nav">
      <div class="nav">
        <ul>
            {% if not g.user %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {% else %}
            <form action="/search-user" method="get" id="search-form">
              <input class="search" type="text" name="username" placeholder="Search username">
              <input class="search" type="submit" value="search">
            </form>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/add/location/review">Testing Site Reviews</a></li>
            <li><a href="/user">Home</a></li>
            {% endif %}
          </ul>
    </div>
    </div>
  {% block content %}{% endblock %}
</body>
</html> 