<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Covid Testing</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="nav">
      <div class="nav">
        <ul>
          <form action="/search-user" method="get" id="search-form">
            <input class="search" type="text" name="username" placeholder="Enter Username">
            <input class="search-btn" type="submit" value="Search">
          </form>
            {% if not g.user %}
            <li><a href="/login">Login</a></li>
            <li><a href="/">Home</a></li>
            {% else %}
            <li><a href="/logout">Logout</a></li>
            <li><a href="/add/location/review">Review Testing Sites</a></li>
            <li><a href="/user/reviews">User Reviews</a></li>
            <li><a href="/user">My Dashboard</a></li>
            <li><a href="/">Home</a></li>
            {% endif %}
          </ul>
    </div>
    </div>
    <div id='map'></div>

    <script>

        mapboxgl.accessToken = 'pk.eyJ1IjoiYXphcmlhZGVkbW9uIiwiYSI6ImNrMmxmdjgwZjA2b3kzcHQ1dWh5Znc1NDcifQ.2VHaTw15QaiOknOoW8aP4A';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/light-v10',
          center: [-96, 37.8],
          zoom: 3
        });

        var geojson = {
          type: 'FeatureCollection',
          features: [
              {% for obj in locations%}
                {
                    type: 'Feature',
                    geometry: {
                    type: 'Point',
                    coordinates: [
                        {{locations[obj]['lng']}},
                        {{locations[obj]['lat']}}
                    ]
                    },
                    properties: {
                        title: '{{locations[obj]['place']}}',
                        description: '{{locations[obj]['phone']}}'
                    }
                },
            {% endfor %}

            ]
    };

    // add markers to map
        geojson.features.forEach(function(marker) {

    // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'marker';

    // make a marker for each feature and add to the map
        new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
          .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
          .addTo(map);
        });  

        map.addControl(new mapboxgl.NavigationControl());
    </script>
</body>
</html> 